body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  color: $text;
  @include fontdef;
  background: linear-gradient(140deg, $primary-light 0%, $primary 100%);
}

// content wrapper
.main-content {
  position: relative;
  top: 100px; //make dependet on navbar!
  margin: auto;
  max-width: 1200px;
  padding: 12px;
}
