html {
  margin: 0;
  padding: 0;
  color: $text;
  @include fontdef;
  background: linear-gradient(140deg, $contrast-1 0%, $contrast-2 100%);
  background-attachment: fixed;
}
body {
  margin: 0;
  padding: 0;
}

// content wrapper
.main-content {
  position: relative;
  margin: auto;
  padding: 80px 0;
  min-height: calc(100vh - 350px);
}
