@import "./utils/mixins";
@import "./utils/colors";
@import "./utils/config";

.form-title {
  text-align: center;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  width: 90%;
}

.form-input-50 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  width: 90%;

  @media #{break(large)} {
    width: 45%;
  }
}

.form-text-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  width: 93%;
}

.form-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2em;
  width: 90%;
  justify-content: center;
}

input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background-color: rgba($text, 0.1); //$primary-light;
  @include fontdef;
  @include border-base;
  @include border-color;
  &:focus {
    outline: none;
    background-color: rgba($primary, 0.1);
  }
}

textarea {
  padding: 0.5rem;
  background-color: rgba($text, 0.1); //$primary-light;
  @include fontdef;
  @include border-base;
  @include border-color;
  resize: none;
  &:focus {
    outline: none;
    background-color: rgba($primary, 0.1);
  }
}
