@import "./utils/mixins";
@import "./utils/colors";

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  width: 90%;
}

.form-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2em;
  width: 90%;
  justify-content: center;
}

input {
  padding: 0.5em;
  background-color: rgba($text, 0.1); //$primary-light;
  @include fontdef;
  @include border-base;
  @include border-color;
  &:focus {
    outline: none;
    background-color: rgba($primary, 0.1);
  }
}
