//change to column based style... 1/2/3 depending on viewport
.event-list {
  min-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
