footer {
  z-index: z("nav-um");
  position: relative;
  background-color: $text;
  width: calc(100% - 40px);
  padding: 20px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: $secondary;
    padding: 20px;
  }
}
