.tabs-control {
  text-align: center;
  padding: 0.5rem;
  margin: auto;
}

.tabs-control button {
  font: inherit;
  border: none;
  background: transparent;
  color: $inactive;
  padding: 0 1.25rem;
  border-bottom: solid 2px transparent;
  cursor: pointer;
  border-bottom: solid 0.1rem $inactive;
  &:hover {
    color: $primary;
  }
}

.tabs-control button.active {
  border-bottom: solid 0.1rem $primary;
  color: $primary;
}
.tabs-control button:focus {
  outline: none;
}

@media #{break(small)} {
  .tabs-control {
    button {
      padding: 0 0.5rem;
    }
    h2 {
      font-size: 1.3em;
    }
  }
}
