.events-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: 1px solid orangered;
    padding: 5px;
    margin-bottom: 5px
}
