.btn {
  @include border-base;
  color: white;
  padding: 0.4rem 1.2rem 0.6rem 1.2rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  //versions:
  //primary button
  &.primary {
    background-color: $primary;
    &:hover,
    &:focus {
      background-color: $primary-dark;
    }
  }
  //inactive button
  &.inactive {
    background-color: $inactive;
    &:hover,
    &:focus {
      background-color: $inactive-dark;
    }
  }
  //dangerous button
  &.danger {
    background-color: $danger;
    &:hover,
    &:focus {
      background-color: $danger-dark;
    }
  }
}
