.close-icon {
  stroke: $secondary;
  &:hover,
  &:focus {
    stroke: $primary;
  }
}

.btn-close {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 8px;
  right: 5px;
}
