
/*standard buttons*/
.form-actions button,
.btn {
  border: none;
  background: rgb(151, 41, 0);
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  cursor: pointer;
}
.form-actions button:hover,
.btn:hover {
  background: orangered;
  
}
.data-list {
  width: 40rem;
  max-width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  list-style: none
}
.data-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: 1px solid orangered;
  padding: 5px;
  margin-bottom: 5px
}
.list-item {
  width: 90%;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  border: 1px solid  orangered
}
.tabs-control {
  text-align: center;
  padding: 0.5rem;
  margin: auto 
}

.tabs-control button{
  font: inherit;
  border: none;
  background: transparent;
  color: black;
  padding: 0.25rem 1.25rem;
  border-bottom: solid 2px transparent;
  cursor: pointer;
}

.tabs-control button.active{
  border-bottom: solid 0.1rem  orangered;
  color: orangered
}
.tabs-control button:focus{
  outline: none;
}
