//main colors
$primary: hsl(310, 79%, 49%);
//variants for gradients and buttons
$primary-dark: mix(black, $primary, 30%);
$primary-light: mix(white, $primary, 10%);
$contrast-1: hsl(308, 43%, 24%);
$contrast-2: hsl(314, 35%, 16%);
$secondary: #f7f4f8;
$text: #212121;

//functional colors
$danger: hsl(350, 90%, 50%);
$danger-dark: mix(black, $danger, 60%);
$success: hsl(150, 90%, 50%);
$warning: hsl(39, 95%, 62%);
$inactive: rgb(97, 95, 95);
$inactive-dark: mix(black, $inactive, 60%);
