@mixin fontdef {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin border-base {
  border-radius: 1rem;
  border: none;
}
@mixin border-right {
  border-radius: 0 1rem 1rem 0;
}
@mixin border-left {
  border-radius: 1rem 0 0 1rem;
}
@mixin border-color {
  border: 1px solid $primary;
}
@mixin border-wide {
  border: 2px solid $secondary;
}
@mixin border-wide-color {
  border: 2px solid $primary;
}

@mixin shadow-1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin shadow-2 {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
