.backdrop {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: z("backdrop");

  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  width: 95%;
  max-width: 600px;

  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  z-index: z("modal");
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background: $secondary;
  @include shadow-1;
  @include border-base;

  @media #{break(large)} {
    height: 450px;
    max-width: 800px;
    top: 20vh;
  }
  @media #{break(h-small)} {
    position: absolute;
  }
}

.modal-actions {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;

  align-self: center;
}

.close-btn-wrapper {
  width: 42px;
  height: 42px;

  position: absolute;
  top: 0;
  right: 0;

  background-color: rgba($text, 0.95);
  @include border-diagonal;
  @include shadow-1;
  cursor: pointer;

  &:hover {
    .close-icon {
      stroke: $primary;
    }
  }
}
